
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499004025419'); /* IE9*/
  src: url('iconfont.eot?t=1499004025419#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499004025419') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499004025419') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499004025419#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-finish:before { content: "\e7de"; }

.icon-loading:before { content: "\e60d"; }

.icon-arrow-bottom:before { content: "\e600"; }

.icon-arrow-right:before { content: "\e768"; }

.icon-face-20:before { content: "\e77b"; }

.icon-face-19:before { content: "\e77c"; }

.icon-face-18:before { content: "\e77d"; }

.icon-face-17:before { content: "\e77e"; }

.icon-face-16:before { content: "\e77f"; }

.icon-face-15:before { content: "\e780"; }

.icon-face-14:before { content: "\e781"; }

.icon-face-13:before { content: "\e782"; }

.icon-face-12:before { content: "\e783"; }

.icon-face-11:before { content: "\e784"; }

.icon-face-10:before { content: "\e785"; }

.icon-face-9:before { content: "\e786"; }

.icon-face-8:before { content: "\e787"; }

.icon-face-7:before { content: "\e788"; }

.icon-face-6:before { content: "\e789"; }

.icon-face-5:before { content: "\e78a"; }

.icon-face-4:before { content: "\e78b"; }

.icon-face-3:before { content: "\e78c"; }

.icon-face-2:before { content: "\e78d"; }

.icon-face-1:before { content: "\e78f"; }

